<p>
  {{link-to "<%= classifiedModuleName %> list" "<%= dasherizedModuleNamePlural %>.index" }}
</p>

<h1><%= classifiedModuleName %> show</h1>
<% attrs.forEach(function(attr) { %>
<p>
  <strong><%= attr.label %>:</strong>
  {{<%= attr.name %>}}
</p>
<% }); %>
