<p>
  {{link-to "<%= humanizedModuleName %> list" "<%= dasherizedModuleNamePlural %>.index" }}
</p>

<h1><%= humanizedModuleName %> show</h1>
<% attrs.forEach(function(attr) { %>
<p>
  <strong><%= attr.label %>:</strong>
  <span>{{model.<%= attr.name %>}}</span>
</p>
<% }); %>
